* {
  margin: 0;
  padding: 0;
  color: springgreen;
}

ul {
  list-style: none;
}

.page {
  background-color: darkslateblue;
}

.header {
  background-color: blueviolet;
  min-width: 900px;
  padding-top: 16px;
}

.header__nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: end;
  gap: 16px;
}

.header__button {
  background-color: rgb(109, 35, 179);
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px 10px 0px 0px;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.header__button:disabled {
  cursor: default;
  background-color: darkslateblue;
}

.content {
  background-color: blueviolet;
  box-sizing: border-box;
  width: 900px;
  margin: 32px auto;
  padding: 64px;
  border-radius: 25px;
  display: grid;
  gap: 50px;
}

.content__box {
  background-color: rgb(109, 35, 179);
  box-sizing: border-box;
  width: 500px;
  padding: 25px;
  line-height: 1.5;
  margin: auto;
  text-align: center;
  border: 5px solid gold;
  border-radius: 25px;
  display: grid;
  gap: 8px;
}

.content__box--heading {
  width: 700px;
}

.restaurant-description {
  font-size: 1.3em;
}

.menu-section {
  display: grid;
  gap: 25px;
}

.menu-section__heading {
  width: 600px;
  font-size: 1.8em;
}

.menu-item-description {
  font-size: 0.9em;
}

.menu-list {
  width: 600px;
}
