* {
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 900px;
}

header button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #e6bbad;
  font-weight: bold;
}

body {
  background-color: #e6bbad;
}

#content {
  box-sizing: border-box;
  background-color: lightblue;
  width: 900px;
  margin: auto;
  margin-top: 32px;
  padding: 32px;
}

.restaurant-heading {
  text-align: center;
}

.restaurant-description {
  width: 300px;
  margin: auto;
  margin-top: 64px;
  text-align: center;
}

.hours-section {
  text-align: center;
  margin-top: 64px;
}

.hours-list {
  margin-top: 8px;
  list-style: none;
}

.address-section {
  text-align: center;
  margin-top: 64px;
}

.address {
  margin-top: 8px;
}
